<div class="container">
    <div class="row">
        <!--About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Rustem</h2>
                <img src="devpicture.jpg" alt="profile_picture" width="256" height="256" class="rounded-circle">
                <p>I’m a Software Engineer with 17+ years of hands-on experience of designing and implementing 
various projects for major companies. 
Over these years I’ve been managing distributed teams of up to 30 people.  
I have vast experience with High Volume Low Latency processing. </p>
            </div>
        </div>
        <!-- featured project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>
        </div>
    </div>
</div>
