<div class="container">
    <div class="text-center border m-5 shadow rounded">
        <h1>Contact</h1>
        <p>Find me in following platforms:</p>
    </div>

    <div class="list-group border m-5 shadow">
        <a href="https://www.linkedin.com/in/rustemvakhitov" 
            class="list-group-item list-group-item-action d-flex gap-3 py-3" 
            target="_blank" >
            <img src="linkedIn-logo.png" width="32" height="32" class="flex-shrink-0 me-5" alt="linkedIn-logo">
            <h3 class="mb-0">LinkedIn</h3>
        </a>

        

        <a href="https://github.com/rustemvakhitov" 
            class="list-group-item list-group-item-action d-flex gap-3 py-3" 
            target="_blank" >
            <img src="github-logo.png" width="32" height="32" class="flex-shrink-0 me-5" alt="github-logo">
            <h3 class="mb-0">GitHub</h3>
        </a>

        <a href="https://gitlab.com/rustemvakhitov" 
            class="list-group-item list-group-item-action d-flex gap-3 py-3" 
            target="_blank" >
            <img src="gitlab-logo.png" width="32" height="32" class="flex-shrink-0 me-5" alt="gitlab-logo">
            <h3 class="mb-0">GitLab</h3>
        </a>
    </div>
</div>

